<div ng-app="myApp" ng-controller="pagamentoCtrl">
    <div class="section no-pad-bot " id="index-banner">
        <div class="container ">
            <ul materialize="collapsible" class="collapsible " data-collapsible="accordion " ng-if="(!lstTipoPagamento || lstTipoPagamento.length > 10)">
                <li>
                    <div class="collapsible-header  ">
                        <i class="material-icons ">filter_list</i>Filtros
                    </div>
                    <div class="collapsible-body ">
                        <div class="row">
                            <div class="input-field col s8 offset-s2 ">
                                <input id="txtBusca" ng-model="sBusca" placeholder="Buscar" class="validate" ng-keyup="changeBusca(sBusca, bAtivos)">
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class=" col s4 offset-s2 ">
                                <input type="checkbox" id="test5" ng-model="bAtivos" ng-change="changeBusca(sBusca, bAtivos)" />
                                <label for="test5">Apenas ativos?</label>

                            </div>
                        </div>-->
                    </div>
                </li>
            </ul>
            <ul materialize="collapsible" class="collapsible " data-collapsible="accordion ">
                <li>
                    <div class="collapsible-header active">
                        <i class="material-icons ">list</i>Resultado
                    </div>
                    <div class="collapsible-body ">
                        <p ng-if="!lstTipoPagamentoFiltered || lstTipoPagamentoFiltered.length == 0">
                            Nenhuma forma de pagamento foi encontrada
                        </p>
                        <table ng-if="lstTipoPagamentoFiltered && lstTipoPagamentoFiltered.length > 0">
                            <thead>
                                <tr>
                                    <th width="50%">Nome</th>
                                    <th width="25%">Taxa</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" tipoPagamento in lstTipoPagamentoFiltered track by tipoPagamento.id" my-repeat-directive>
                                    <td>{{tipoPagamento.nome}}</td>
                                    <td>{{tipoPagamento.cobranca_juros}}%</td>
                                    <td>
                                        <i ng-if="!tipoPagamento.is_ativo" class="material-icons" style="cursor: pointer" ng-click="Alterar(tipoPagamento, true)">clear</i>
                                        <i ng-if="tipoPagamento.is_ativo" class="material-icons" style="cursor: pointer" ng-click="Alterar(tipoPagamento, false)">check</i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="fixed-action-btn ">
        <a class="btn-floating purple darken-3" ng-click="OpenAddStatus()">
            <i class="material-icons ">add</i>
        </a>
    </div>


    <!-- Modal Structure -->
    <div id="mdlChangePassword" class="modal" materialize="modal">
        <div class="modal-content">
            <h4>Nova Forma de Pagamento</h4>
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <input ng-model="nome" placeholder="Nome" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <input ng-model="juros" placeholder="Taxa de Juros" type="number" step="0.001" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 offset-l1  l4">
                    <a ng-click="CloseAddStatus()" class="btn-large waves-effect waves-light black" style="width: 100%; margin-bottom:15px">
                        Voltar
                    </a>
                </div>
                <div class="col s10 offset-s1 offset-l2 l4">
                    <a id="btn_entrar" ng-click="AddStatus()" class="btn-large waves-effect waves-light purple darken-3" style="width: 100%">
                        Cadastrar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>